# Git LFS large files
notebooks/**/*.ipynb filter=lfs diff=lfs merge=lfs -text
src/quscope/utils/kirkland.json filter=lfs diff=lfs merge=lfs -text
*.ipynb filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
